body {
  background-image: url('/home/raihan/Desktop/LabWork1/image/background.png');
  background-position: center;
  background-size: auto;
  color: white;
}
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
  background-color: #1a1a1a;
}
.logo {
  font-size: 30px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}
.nav-links a {
  color: rgb(0, 255, 17) !important;
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.mid-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  flex-wrap: wrap;
}

.mid-text .intro {
  letter-spacing: 2px;
  font-size: 14px;
  color: #aaa;
}
.mid-text h1 {
  font-size: 48px;
  margin: 20px 0;
}
.mid-text .highlight {
  color: #ff0057;
}
.mid-text .description {
  color: #aaa;
  max-width: 700px;
  font-size: 18px;
}


.about-section {
  padding: 60px;
  max-width: 70%;
  margin: auto;
}

.about-section h2 {
  font-size: xx-large;
  color: red;
}

.about-section p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
}


.social-media{
  padding: 5px;  
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #1a1a1a;
  width: 100%;
}

.skills-section{
  padding: 60px;
  max-width: 50%;
  margin: left;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.education{
  padding: 50px;
  max-width: 50%;
  margin: auto;
}