a:hover {
  text-decoration: underline;
  color: rgb(0, 110, 255);
}

body {
  font-family: 'Inter', sans-serif;
}
button {
  transition: background-color 0.3s ease;
}

.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}